header {
  display: block;
  width: 100%;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.432);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f7f9fb;
  height: 66px;
  z-index: 999;
}
header nav > ul {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3px 0;
}
header nav > ul > li {
  display: inline-block;
  list-style: none;
  height: 100%;
  margin: 0 2rem;
  vertical-align: middle;
  text-align: center;
  font-size: 0;
}
header nav > ul > li#logo a img {
  width: 60px;
}
header nav > ul > li#search {
  width: calc(100% - 328px);
}
header nav > ul > li#search > div {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  position: relative;
  top: 0;
  left: 0;
}
header nav > ul > li#search > div * {
  vertical-align: top;
}
header nav > ul > li#search > div > ul > li > a > div > img {
  display: none;
}
header nav > ul > li#search > div input {
  display: block;
  width: 100%;
  padding: 0.7rem 2rem;
  border: 1px solid #00000088;
  border-radius: 5px;
}
header nav > ul > li#search > div.active input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
header nav > ul > li#search > div.active > ul {
  display: block;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 5px 5px;
  transition: all 250ms;
}
header nav > ul > li#search > div.active > ul > li {
  display: block;
  text-align: left;
  border: 1px solid #00000021;
  border-left: none;
  border-right: none;
}
header nav > ul > li#search > div.active > ul > li:hover {
  background-color: #0000000a;
}
header nav > ul > li#search > div.active > ul > li > a {
  display: block;
  padding: 5px 2px 5px 20px;
  font-size: 0;
}
header nav > ul > li#search > div.active > ul > li > a > div {
  font-size: 2rem;
  display: inline-block;
  width: 75%;
  padding-top: 10px;
}
header nav > ul > li#search > div.active > ul > li > a > div.image {
  padding-top: 0;
  width: 25%;
}
header nav > ul > li#search > div.active > ul > li > a > div.image img {
  width: auto;
  display: block;
  max-height: 75px;
  max-width: 100%;
}
header nav > ul > li#user a img, header nav > ul > li#basket a img {
  width: 50px;
}
header nav > ul > li#user:hover, header nav > ul > li#basket:hover {
  background-color: #00000021;
  border-radius: 5px;
}

#searching-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c0c0c45;
}

@media (max-width: 800px) {
  header nav > ul > li {
    margin: 0 0.5rem;
  }
  header nav > ul > li#search {
    width: calc(100% - 250px);
  }
  header nav > ul > li#user a img, header nav > ul > li#basket a img {
    width: 60px;
  }
}
@media (max-width: 600px) {
  header nav > ul > li {
    margin: 0;
  }
  header nav > ul > li#logo {
    margin-right: 0.5rem;
  }
  header nav > ul > li#search {
    width: calc(100% - 225px);
  }
  header nav > ul > li#search > div input {
    height: 45px;
    padding: 0.1rem 1rem;
    font-size: 2.5rem;
  }
  header nav > ul > li#search > div.active > ul {
    width: 95vw;
    position: fixed;
    top: 66px;
    left: 1.5vw;
  }
}
@media (max-width: 400px) {
  header {
    height: 50px;
  }
  header nav > ul {
    padding: 0;
  }
  header nav > ul > li#logo a img {
    width: 45px;
  }
  header nav > ul > li#search {
    width: calc(100% - 155px);
  }
  header nav > ul > li#search > div input {
    height: 36px;
    padding: 0.08rem 1rem;
  }
  header nav > ul > li#search > div.active > ul {
    width: 97vw;
    top: 50px;
  }
  header nav > ul > li#user a img, header nav > ul > li#basket a img {
    width: 48px;
  }
}

/*# sourceMappingURL=header.css.map */
