@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  color: #0c0c0c;
}

h2 {
  font-size: 3.25rem;
  color: #4e4e4e;
}

h3 {
  font-size: 2.75rem;
  color: #5e5e5e;
}

h4 {
  font-size: 2.2rem;
  color: #6e6e6e;
}

p {
  font-size: 2rem;
}

a,
a:visited,
a:active {
  color: inherit;
}

main {
  padding: 2.5rem 3rem 1rem 3rem;
  margin: 66px auto 0;
  width: 100vw;
  max-width: 1600px;
  min-height: 90vh;
}
main > h1 {
  margin: 2rem 0;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
input[type=search] {
  font-size: 2rem;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  display: none;
}
input[type=checkbox] {
  position: absolute;
  left: -999999px;
}
input[type=checkbox] ~ span.checkbox-custom {
  display: inline-block;
  border: 2px solid black;
  width: 1em;
  height: 1em;
  border-radius: 5px;
}
input[type=checkbox]:checked ~ span.checkbox-custom {
  background-image: url("/static/images/check.svg");
  background-size: contain;
}
input[type=checkbox]:focus ~ span.checkbox-custom {
  box-shadow: 0 0 0 0.05em #424242a4, 0 0 0.15em 0.04em #2929298a;
}

.divide {
  font-size: 0;
}
.divide > * {
  vertical-align: top;
  display: inline-block;
  font-size: initial;
}

.btn-blue {
  background-color: #09BDEA;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 6px #545454;
  margin: 2px;
  color: white;
  font-weight: bold;
}
.btn-blue:focus {
  outline: 1px solid #ffffff;
}
.btn-blue:active {
  border: 1px solid #00000005;
  margin: 1px;
  outline: none;
}
.btn-blue:hover {
  background-color: #0cabd4;
}

a.btn-blue, a.btn-blue:focus, a.btn-blue:active, a.btn-blue:visited {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.center {
  text-align: center;
}

.split {
  font-size: 0;
  vertical-align: top;
}
.split > * {
  display: inline-block;
  width: 50%;
  font-size: initial;
  vertical-align: top;
}

.bg-image {
  display: inline-block;
  min-width: 5rem;
  min-height: 4rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.margin-center {
  margin: 0 auto;
}

header {
  display: block;
  width: 100%;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.432);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f7f9fb;
  height: 66px;
  z-index: 999;
}
header nav > ul {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3px 0;
}
header nav > ul > li {
  display: inline-block;
  list-style: none;
  height: 100%;
  margin: 0 2rem;
  vertical-align: middle;
  text-align: center;
  font-size: 0;
}
header nav > ul > li#logo a img {
  width: 60px;
}
header nav > ul > li#search {
  width: calc(100% - 328px);
}
header nav > ul > li#search > div {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  position: relative;
  top: 0;
  left: 0;
}
header nav > ul > li#search > div * {
  vertical-align: top;
}
header nav > ul > li#search > div > ul > li > a > div > img {
  display: none;
}
header nav > ul > li#search > div input {
  display: block;
  width: 100%;
  padding: 0.7rem 2rem;
  border: 1px solid #00000088;
  border-radius: 5px;
}
header nav > ul > li#search > div.active input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
header nav > ul > li#search > div.active > ul {
  display: block;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 5px 5px;
  transition: all 250ms;
}
header nav > ul > li#search > div.active > ul > li {
  display: block;
  text-align: left;
  border: 1px solid #00000021;
  border-left: none;
  border-right: none;
}
header nav > ul > li#search > div.active > ul > li:hover {
  background-color: #0000000a;
}
header nav > ul > li#search > div.active > ul > li > a {
  display: block;
  padding: 5px 2px 5px 20px;
  font-size: 0;
}
header nav > ul > li#search > div.active > ul > li > a > div {
  font-size: 2rem;
  display: inline-block;
  width: 75%;
  padding-top: 10px;
}
header nav > ul > li#search > div.active > ul > li > a > div.image {
  padding-top: 0;
  width: 25%;
}
header nav > ul > li#search > div.active > ul > li > a > div.image img {
  width: auto;
  display: block;
  max-height: 75px;
  max-width: 100%;
}
header nav > ul > li#user a img, header nav > ul > li#basket a img {
  width: 50px;
}
header nav > ul > li#user:hover, header nav > ul > li#basket:hover {
  background-color: #00000021;
  border-radius: 5px;
}

#searching-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c0c0c45;
}

@media (max-width: 800px) {
  header nav > ul > li {
    margin: 0 0.5rem;
  }
  header nav > ul > li#search {
    width: calc(100% - 250px);
  }
  header nav > ul > li#user a img, header nav > ul > li#basket a img {
    width: 60px;
  }
}
@media (max-width: 600px) {
  header nav > ul > li {
    margin: 0;
  }
  header nav > ul > li#logo {
    margin-right: 0.5rem;
  }
  header nav > ul > li#search {
    width: calc(100% - 225px);
  }
  header nav > ul > li#search > div input {
    height: 45px;
    padding: 0.1rem 1rem;
    font-size: 2.5rem;
  }
  header nav > ul > li#search > div.active > ul {
    width: 95vw;
    position: fixed;
    top: 66px;
    left: 1.5vw;
  }
}
@media (max-width: 400px) {
  header {
    height: 50px;
  }
  header nav > ul {
    padding: 0;
  }
  header nav > ul > li#logo a img {
    width: 45px;
  }
  header nav > ul > li#search {
    width: calc(100% - 155px);
  }
  header nav > ul > li#search > div input {
    height: 36px;
    padding: 0.08rem 1rem;
  }
  header nav > ul > li#search > div.active > ul {
    width: 97vw;
    top: 50px;
  }
  header nav > ul > li#user a img, header nav > ul > li#basket a img {
    width: 48px;
  }
}
footer {
  display: block;
  padding: 0.75rem 0;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5rem;
  color: white;
  background-color: #09BDEA;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.432);
}
footer * {
  vertical-align: middle;
}
footer a:hover {
  color: #663AE6;
}
footer .copy {
  font-size: 2rem;
}
footer > div {
  display: block;
  margin: 0.75rem 0;
}
footer > div div {
  display: inline-block;
  margin: 0 1rem;
}
footer > div div a {
  margin: 0 2px;
}

@media (max-width: 800px) {
  html {
    font-size: 1.25vw;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 1.5vw;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 2vw;
  }

  main {
    padding: 0.3rem;
  }
}
@media (max-height: 1200px) {
  main {
    min-height: 81vh;
  }
}
@media (max-height: 700px) {
  main {
    min-height: 75vh;
  }
}

/*# sourceMappingURL=style.css.map */
