.split {
  display: flex;

  > div:first-child {
    width: 70%;
  }
}

#cart {
  border: none;

  td, th {
    height: 7rem;
    border: none;
  }

  tr {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: .5rem 0;
  }

  tfoot tr {
    border-bottom: none;
    font-size: 1.7rem;
  }

  img {
    max-width: 8rem;
    max-height: 100%;
  }

  input {
    width: 5rem;
  }

  button {
    font-size: 1.5rem;
    padding: .5rem;
  }

  .change form {
    label {
      display: block;
      margin-bottom: 1rem;
    }

    button {
      display: block;
      width: 100%;
    }
  }
}
