#profile {
  padding: 1rem;
  font-size: 2rem;

  > div {
    display: flex;

    > div {
      $width: 40%;
      width: $width;

      &.left {
        width: 100% - $width;
      }

      &.right {
        text-align: right;
      }

      a {
        font-size: 3rem;
      }

      > div {
        display: block;
        margin-bottom: 4rem;
        margin-top: 1rem;
        padding-left: 2rem;
        padding-right: 6rem;

        label {
          margin-top: 1rem;
          display: flex;

          span {
            width: 20%;
            display: inline-block;
            text-align: right;
            padding-right: 1rem;
          }

          input {
            font-size: 2rem;
            width: 80%;
            display: inline-block;
          }
        }
      }
    }
  }
}

#liked {
  ul {
    margin: 3rem 2rem;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.3rem;

    li {
      display: inline-block;
      width: 15rem;
      height: 15rem;
      border: 1px solid #ccc;
      border-radius: 1.5rem;
      padding: 1rem;

      a {
        display: block;
        height: 100%;

        div, span {
          display: block;
          text-align: center;
        }

        div {
          height: 15rem - 1rem * 2 - 1.3rem - .5rem;

          img {
            max-height: 100%;
            max-width: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 1.5rem;
          }
        }

        span {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-top: .5rem;
        }
      }

      &:hover {
        outline: 2px solid #999;
      }
    }
  }
}

#orders {
  ul {
    list-style: none;

    li {
      display: block;
      margin: 2rem;
      width: 70rem;
      font-size: 1.5rem;
      border: 1px solid #8f8f8f;

      table {
        width: 100%;
        border-collapse: collapse;

        tr {
          td, th {
            border: 1px solid #ccc;
            height: 5rem;
            padding: .5rem;
          }

          th.title {
            font-size: 2rem;
          }

          td {
            img {
              max-height: 100%;
              max-width: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid #ccc;
          }
        }

        tfoot tr {
          td, th {
            border: none;
            font-weight: bold;
            padding-right: 1rem;
            padding-left: 1rem;
          }
        }
      }
    }
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
