.title-wrapper {
  display: flex;
  height: 10rem;
  align-items: center;

  div {
    $product-name-width: 70%;

    &.product-name {
      width: $product-name-width;
    }

    &.brand {
      width: 100% - $product-name-width;

      img {
        max-width: 100%;
        max-height: 10rem;
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

#product-wrapper {
  #product-wrapper-flex {
    display: flex;

    $images-wrapper-width: 55%;

    #images-wrapper {
      width: $images-wrapper-width;
      border-radius: 5rem;

      #big-image, #images {
        padding: 2rem;
      }

      #big-image {
        height: 34rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          width: 100%;
        }
      }

      #images {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: .3rem;

        div {
          $size: 9rem;
          height: $size;
          width: $size;
          cursor: pointer;

          padding: .5rem;

          border: 2px solid #ccc;
          border-radius: 1rem;

          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            width: 100%;
          }

          &:hover, &:focus {
            border-color: black;
          }

          &:active {
            opacity: .5;
          }
        }
      }
    }

    #price-wrapper {
      width: 100% - $images-wrapper-width;
      text-align: right;
      font-size: 4rem;
      padding: 10rem;

      #price-with-sign {
        margin-bottom: 2rem;

        #sign {
          font-weight: bold;
        }

        #price {
          font-weight: normal;
        }

        #like {
          $size: 6rem;
          width: $size;
          height: $size;
          margin-left: 2rem;
        }
      }

      #add {
        font-size: 3.5rem;
        width: 50%;
      }
    }
  }
}

#properties-wrapper {
  font-size: 2rem;
  margin-top: 4rem;

  h2 {
    margin-bottom: 2rem;
  }

  #properties {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 3rem;
  }

  table {
    border: 1px solid #ccc;
    display: block;
    padding: 1rem;
    width: 37rem;

    tbody, thead {
      display: block;
    }

    caption {
      padding-bottom: 1rem;
      display: block;
      text-align: center;
      font-weight: bold;
    }

    border-collapse: collapse;

    th {
      text-align: center;
      margin-bottom: .5rem;
      font-style: italic;
    }

    td {
      margin: .3em .1rem;
    }

    img {
      height: 2rem;
    }

    span {
      &.empty {
        opacity: .35;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: #F0F0F0FF;

          &:nth-child(2n) {
            background-color: #DFDFDFFF;
          }
        }
      }
    }

    tr {
      width: 100%;
      display: flex;

      &:nth-child(2n) {
        background-color: #f3f3f3;
      }

      > td:first-child, > th:first-child {
        width: 60%;
      }

      > td:last-child, > th:last-child {
        width: 40%;
      }
    }
  }
}
