# https://httpd.apache.org/docs/2.4/rewrite/flags.html

<FilesMatch "autoloader.php|defaultPage.php|Route.php">
    Require all denied
</FilesMatch>

RewriteEngine On

RewriteBase /

# Show Apache FTP-style directory
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f
# QSA->qsappend append query string, L->last end the rewrite
RewriteRule ^(.*)$ index.php [QSA,L]

ErrorDocument 403 /index.php
